<div class="row">
 <div class="column left">
    
     <p-tree [value]="uniqueFiles" selectionMode="checkbox" [(selection)]="selectedFiles"
                [propagateSelectionUp]="false" [propagateSelectionDown]="false" (onNodeSelect)="nodeSelect($event)"
                (onNodeSelect)="onNodeUnselect($event)"></p-tree>
    <p-multiSelect [options]="leadOwnerUnique" overlayVisible="true" scrollHeight="300px" defaultLabel="Team Members" (onChange)="tt.filter($event.value, 'serviceProviderFirstName', 'in')"></p-multiSelect></div>

 
 <div class="column right">
<p-growl [value]="msgs"></p-growl>
<p-table #tt [columns]="cols" [value]="consumersVo" [(contextMenuSelection)]="selectedConsumerVo" [contextMenu]="cm" selectionMode="multiple" [(selection)]="selectedConsumersVo" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" [paginator]="true" [rows]="10" [first]="first" [scrollable]="true" scrollHeight="350px"  [resizableColumns]="true" [responsive]="true"  [loading]="loading" [rowsPerPageOptions]="[10,20,50]" [reorderableColumns]="true">
  <ng-template pTemplate="caption">
    Project List
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Search Lead" (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa-file-o" iconPos="left" label="All Data" (click)="tt.exportCSV()" style="float:left"></button>
            <button type="button" pButton icon="fa-file" iconPos="left" label="Selection Only" (click)="tt.exportCSV({selectionOnly:true})" style="float:right"></button>
        </div>
</ng-template>
<ng-template pTemplate="colgroup" let-columns>
    <colgroup>
        <col *ngFor="let col of columns" style="width:200px">
    </colgroup>
</ng-template>
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns" [ngSwitch]="col.field" style="overflow:visible" pResizableColumn pReorderableColumn>
        
        <input *ngSwitchCase="'customerFirstName'" pInputText type="text" (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
        <div *ngSwitchCase="'lastQuoteAmount'">
            {{yearFilter}}
            <i class="fa fa-close" (click)="yearFilter=null;tt.filter(null, col.field, col.filterMatchMode)"></i>
            <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="yearFilter" [min]="0" [max]="5" (onChange)="onYearChange($event, dt)"></p-slider>
        </div>
          <p-dropdown *ngSwitchCase="'type'" [options]="types" [style]="{'width':'100%'}" (onChange)="tt.filter($event.value, col.field, 'equals')"></p-dropdown>
          <p-multiSelect *ngSwitchCase="'billtype'" [options]="billTypes"  defaultLabel="All Type" (onChange)="tt.filter($event.value, col.field, 'in')"></p-multiSelect>
    </th>
</tr>  
    
    <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.field" pResizableColumn  style="overflow:visible" pReorderableColumn>
              {{col.header}}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
      </tr>
              
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" [pContextMenuRow]="rowData">
          <td *ngFor="let col of columns" class="ui-resizable-column">
              <span class="ui-column-title">{{col.header}}</span>
              <div *ngIf="col.field=='customerFirstName' else elseBlock">
              <a href="{{consumerUrl}}{{rowData['crn']}}">{{rowData[col.field]}}</a>
            </div>
            <ng-template #elseBlock>{{rowData[col.field]}}</ng-template>
          </td>
      </tr>
  </ng-template>

  <ng-template pTemplate="paginatorleft" let-state>
      {{state.first}}
      <button pButton type="button"  icon="fa-trash" (click)="deleteConsumer()"></button>
      
  </ng-template>

  <ng-template pTemplate="emptymessage" let-columns>
      <tr>
          <td [attr.colspan]="columns.length">
              No records found
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    There are {{consumersVo?.length}} Consumers
</ng-template>
</p-table>

<p-contextMenu #cm [model]="contextItems"></p-contextMenu>

</div>
</div>