* {
    box-sizing: border-box;
}

a, a:focus, a:hover, a:active {
    outline: 0 !important;
}
a {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}
.btn-group > .btn:first-child {
    margin: 0 1px 0 0;
}

.selectedMenu {
    background: none;
    color: #4C8FBD !important;
}

.nav.navbar-nav.btn-group .btn-primary {
    border-color: #00a9c4 !important;
}

input, button, select, textarea {
    outline: none;
}
.configsettings, .configsettings:hover{
    background:none !important;   
    color:#478fca; 
}
.configsettings span.ui-button-text{border:1px solid red;}
.navbar-nav{
    padding:0 !important;
}
.createnewlead{
    text-align:left;
}
.leadactionoptions{
    text-align:right;
}
.maincontent{padding-top:14px;}
.uploadhelpcontent { text-align:left !important;}
.uploadhelpcontent .popover-title{background-color: #eff3f8;color: #555;border-bottom: 1px solid #dde6f0;text-shadow: 1px 1px 1px rgba(220, 220, 220, 0.2); margin:0; padding: 8px 14px;}
.uploadhelpcontent .popover-content{padding: 9px 14px;font-size: 14px;font-weight: normal; line-height: 1.42857143; font-family:Robotolight;}
.helpico{ position:absolute; top: 48px; margin-left: -40px; cursor: pointer; font-weight: 500; font-size: 12px; color: #555; font-style: italic;}
.tblheader, .tbldata{width:154px; text-align:left; word-wrap:break-word; padding:1em 1.2em !important;}
span.input-icon {
    display: inline-block;
}
.input-icon.input-icon-right > input {
    padding-left: 6px;
    padding-right: 24px;
}
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    border-radius: 0 !important;
    color: #858585;
    background-color: #ffffff;
    border: 1px solid #d5d5d5;
    padding: 5px 4px 6px;
    font-size: 14px;
    font-family: inherit;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
input[type="text"]{
    padding:9px 7px !important; 
}
